
#cardFlexbox {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

#newToolButton {
  background-color: var(--soft-green);
  width: 6em;
  height: 6em;
}

#newToolButton:hover {
  box-shadow: var(--soft-green-box-shadow);
}

#newToolButton > * {
  width: 50%;
  height: 50%;
  fill: white;
}