
.invisibleHoverableInput {

  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  box-shadow: none;
  border-radius: 0.25em;
  padding: 0.75em;
  font-family: inherit;
  font-size: inherit;
  color: var(--soft-box-shadow);
  box-sizing: border-box;
  outline: none;
  transition: box-shadow 250ms ease, border-color 250ms ease;

}

.invisibleHoverableInput:hover, .invisibleHoverableInput:focus {
  border-color: rgb(230, 230, 230);
  box-shadow: var(--soft-box-shadow);
}

.circleBackground {
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.circleButton {
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  transition: box-shadow 150ms linear;
}

.circleButton * {
  vertical-align: middle;
}

.greenGlowOnHover:hover {
  box-shadow: var(--soft-green-box-shadow);
}

.redGlowOnHover:hover {
  box-shadow: red;
}
