

.card {
  box-sizing: border-box;
  padding: 2.5em 1.5em;
  border-radius: 16px;
  box-shadow: var(--soft-box-shadow);
  font-size: 1rem;
  font-family: "Inter";
  color: var(--soft-black);
  cursor: pointer;
}

.cardContentFlexbox {
  display: flex;
  width: 23em;
  white-space: nowrap;
  overflow: hidden;
}

.cardImageContainer {
  display: inline-block;
  margin-right: 1.5em;
}

.cardImage {
  width: 5.5em;
  height: 5.5em;
  fill: var(--soft-black);
  vertical-align: middle;
}

.cardTitle {
  font-weight: 700;
  font-size: 1.25em;
}

.cardDescription, .cardLinkURL {
  margin-top: 0.3rem;
  font-size: 0.75em;
}

.cardLinkURL {
  color: var(--mahogany);
}

.cardLinkURL:hover {
  color: var(--mahogany-dark);
}
