
#appHeader {
  display: flex;
  padding: 0.5rem;
}

#appHeaderLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.75rem; /* All em based units inside the link will be based off this. */
  color: var(--soft-black);
}

#appHeaderSVG {
  width: 3em;
  height: 3em;
}