
#routeOutlet {
  font-size: 1rem;
}

#main {
  padding: 1rem;
}

@media screen and (max-width: 590px) {
  
  #routeOutlet {
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 386px) {
  
  #routeOutlet {
    font-size: 0.66rem;
  }

}